<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84105141341-njn7kohnm2mf3d6st7uodf19m3sku289.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84105141341-njn7kohnm2mf3d6st7uodf19m3sku289</string>
	<key>API_KEY</key>
	<string>AIzaSyCF2m69dkFiV4TBU-ZhX1N7RLOESjGZIAA</string>
	<key>GCM_SENDER_ID</key>
	<string>84105141341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sangaa.praba</string>
	<key>PROJECT_ID</key>
	<string>prabagrocery-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>prabagrocery-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84105141341:ios:9cb2136f5ff8fc059a81b4</string>
</dict>
</plist>